body {
    padding-top: 300px;
    padding-bottom: 100%;
    background-color: #008b2e;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    text-align: center;
    color: white;
}

#container {
}

#logo {
    width: 45%;
}

h1 {
    font-weight: bold;
    font-size: 100px;
}

h2 {
    font-weight: bold;
    font-size: 50px;
}
